div.form-wrapper {
  margin-inline: auto;
  width: 600px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #252528;
  padding: 20px;
  border-radius: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.button-wrapper button {
  flex-grow: 1;
}

input,
select {
  padding: 5px;
  outline: none;
  border: 1px solid #252528;
  border-radius: 5px;
}

textarea {
  border: 1px solid #252528;
  background-color: #f2f2f2;
  height: 70px;
}
