<div class="background">
  <div *ngIf="mode === 'signin'" class="form-wrapper">
    <h2>Sign in</h2>
    <form action="" *ngIf="!isLoading" (ngSubmit)="handleLogin()">
      <label for="username">username</label>
      <input id="username" name="username" type="text" [(ngModel)]="username" />

      <label for="password">password</label>
      <input id="" name="password" type="text" [(ngModel)]="password" />

      <div class="button-wrapper">
        <button type="reset">Clear</button>
        <button type="submit">Sign in</button>
      </div>
    </form>

    <div *ngIf="isLoading">Loading...</div>

    <button (click)="handleSwitch('signup')">Sign up</button>
  </div>

  <div *ngIf="mode === 'signup'" class="form-wrapper">
    <h2>Sign up</h2>
    <form action="" *ngIf="!isLoading" (ngSubmit)="handleRegister()">
      <label for="username">username</label>
      <input id="username" name="username" type="text" [(ngModel)]="username" />

      <label for="password">password</label>
      <input id="" name="password" type="text" [(ngModel)]="password" />

      <div class="button-wrapper">
        <button type="reset">Clear</button>
        <button type="submit">Sign up</button>
      </div>
    </form>

    <div *ngIf="isLoading">Loading...</div>

    <button (click)="handleSwitch('signin')">Sign in</button>
  </div>
</div>
