<div class="form-wrapper">
  <h1>Product form</h1>
  <form action="">
    <label for="productName">Product name</label>
    <input
      id="productName"
      name="productName"
      type="text"
      [(ngModel)]="productName"
      (ngModelChange)="emitAction()"
    />

    <label for="productPrice">Product price</label>
    <input
      id="productPrice"
      name="productPrice"
      type="text"
      [(ngModel)]="productPrice"
      (ngModelChange)="emitAction()"
    />

    <label for="productType">Product type</label>
    <select
      name="productType"
      id="productType"
      [(ngModel)]="productType"
      (ngModelChange)="emitAction()"
    >
      <option value="toy">Toy</option>
      <option value="weapon">Weapon</option>
      <option value="food">Food</option>
    </select>

    <label for="productDescription">Product description</label>
    <textarea
      id="productDescription"
      name="productDescription"
      [(ngModel)]="productDescription"
      (ngModelChange)="emitAction()"
    ></textarea>

    <div class="button-wrapper">
      <button type="reset">Clear</button>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
